{
    "extends": "airbnb-base",
    "env": {
      "browser": true,
      "node": true
    },
    "rules": {
      "no-debugger": 1,
      "no-param-reassign": 0,
      "no-underscore-dangle": 0,
      "class-methods-use-this": 0,
      "linebreak-style": "off",
    },
    "globals": {
      "DEBUG": true,
      "API_URL": true,
      "GOOGLE_MAPS_API_KEY": true,
      "TERMS_AND_CONDITIONS_URL": true,
      "MAILCHIMP_URL": true,
      "SITE_URL": true,
    }
}
